<div class="footer col">
	<div class="contact">
		<p>Matthias Herlitzius</p>
	</div>
	<div class="contact">
		<p>
			<a href="http://about.me/mherlitzius">about.me</a><br>
			<a href="http://www.linkedin.com/in/mherlitzius">LinkedIn</a><br>
			<a href="http://www.xing.com/profile/Matthias_Herlitzius2">Xing</a><br>
		</p>
	</div>
	<div class="contact">
		<p>
			<a href="http://twitter.com/mherlitzius">Twitter</a><br>
			<a href="http://github.com/mherlitzius">GitHub</a><br>
			<a href="http://stackoverflow.com/users/1796961/matthias-herlitzius">Stack Overflow</a>
		</p>
	</div>
</div>