<meta charset="UTF-8" />
<meta name="description" content="" />
<meta name="author" content="Matthias Herlitzius" />
<title>Matthias Herlitzius</title>

<link href="/css/screen.css" type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" media="all" type="text/css" href="/css/pygments_style.css" />
<script src="/js/jquery-1.7.2.min.js" type="text/javascript" />
<link  href="/css/prettyPhoto.css" type="text/css" rel="stylesheet" media="screen" title="prettyPhoto main stylesheet"/>
<script src="/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){

	var windowWidth = (!$.browser.safari) ? $(window).width()+17 : $(window).width();
	
	if (windowWidth >= 639) {
		$(".picture a").prettyPhoto({theme:'dark_square'});
	}
	
});
</script>