<!DOCTYPE html>
<html lang="en" class="js-disabled home">
    <head>
		{% include header.html %}
    </head>
    <body>
        <div class="page">
            <div class="row">
                <div class="header col"></div>
            </div>
            <div class="row">
                <div class="navigation col">
					<div class="title">
						{% include topnav.html %}
					</div>
				</div>
            </div>
            <div class="row">
            	<div class="mainContent col">
	           		{{ content }}
				</div>
            </div>
            <div class="row">
				{% include footer.html %}
            </div>
        </div>
    </body>
</html>